$base_size: 4.5;

.App {
    text-align: center;
    background-color: #ff9768;
    background: linear-gradient(300deg, #ff9768, #9156e1);
}
  
.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
  
.content {
    border-spacing: 0px;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.1);

    p {
        padding: 0px;
        border-spacing: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    tbody {
        tr:last-child {
            td:first-child { 
                border-bottom-left-radius: 0.3em;
            }
            td:last-child { 
                border-bottom-right-radius: 0.3em;
            }
        } 
        tr:first-child {
            td:first-child { 
                border-top-left-radius: 0.3em;
            }
            td:last-child { 
                border-top-right-radius: 0.3em;
            }
        } 
    }
}
  
.display {
    width: $base_size*4+rem;
    max-width: $base_size*4+rem;
    height: $base_size*1.5+rem;
    padding-bottom: $base_size/8+rem;
    padding-left: $base_size/8+rem;
    padding-right: $base_size/8+rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-weight: 200;
    background-color: #1b1b1b;

    p {
        text-align: right;
        margin: 0rem $base_size/5+rem;
        line-height: $base_size/2+rem;
    }

    .math {
        color: #d98192;
        font-size: 18px;
        font-weight: 400;
        line-height: $base_size/2+rem;
    }

    .number {
        font-size: 50px;
    }

    .numberLimited {
        font-size: 23px;
    }
}
  
.button {
    width: $base_size+rem;
    height: $base_size+rem;
    margin: 0px;
    color: #1b1b1b;
    font-size: 22px;
    line-height: $base_size+rem;
    border: 0px;

    cursor: pointer;
    background-color: #fcfcfc;
    background-image: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%);

    &:hover, &.button:focus {
        filter: brightness(95%);
    }
    &:active {
        filter: brightness(80%);
    }
}

.equals {
    color: #ffffff;
    background-color: #e25b8e;
    background-image: none;
}

.operation {
    color: #ffffff;
    background-color: #7c77d2;
    background-image: linear-gradient(135deg, #7c77d2, #645fc5);;
}