$border_radius: 0.5em;

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: #ff9768;
    background: linear-gradient(300deg, #ff9768, #9156e1);
}

.container {
    display: flex;
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 90vw;
    min-width: 300px;
    height: 146vw;
}

@media (min-width: 500px) {
    .calc {
        width: 370px;
        height: 600px;
    }
}

.display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-weight: 300;
    background-color: #1b1b1b;
    padding: 1.5rem 2rem;

    p {
        display: block;
        text-align: right;
        margin: 0rem;
        line-height: 3.5rem;
    }

    .math {
        color: #d98192;
        font-size: 18px;
        font-weight: 400;
        line-height: 2rem;
    }

    .number {
        font-size: 50px;
    }

    .numberLimited {
        font-size: 23px;
    }
}

.keyboard {
    display: grid;
    width: 100%;
    height: 77%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    border: none;
}

.key {
    place-self: stretch;
    margin: 0px;
    border: none;
    outline: none;
    color: #1b1b1b;
    font-family: inherit;
    font-size: 23px;
    font-weight: 300;
    cursor: pointer;
    background-color: #fcfcfc;
    background: linear-gradient(130deg, #ffffff 0%, #f4f4f4 100%);

    &:hover, &:focus {
        filter: brightness(95%);
        transition: 0.3s ease-in-out;
    }
    &:active {
        filter: brightness(80%);
    }
}

.span-2 {
    grid-column: span 2;
}

.equals {
    color: #ffffff;
    background-color: #e25b8e;
    background-image: none;
}

.operation {
    color: #ffffff;
    background-color: #7c77d2;
    background-image: linear-gradient(135deg, #7c77d2, #7671d3);;
}

.tl-rad {
    border-top-left-radius: $border_radius;
}

.tr-rad {
    border-top-right-radius: $border_radius;
}

.bl-rad {
    border-bottom-left-radius: $border_radius;
}

.br-rad {
    border-bottom-right-radius: $border_radius;
}


